.card{
  position: relative;
  overflow: hidden;
}
.card .controls{
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.card .card-title{
  padding-right: 25px;
  display: block;
  word-wrap: break-word;
  line-height: 30px;
}
.card a{
  display: inline-block;
  cursor: pointer;
  height: 22px;
  width: 22px;
}
.card #removeDownload{
  background: url(<?APP_SRC?>/src/image/close.svg);
}
.card #pauseDownload{
  background: url(<?APP_SRC?>/src/image/pause.svg);
}
.card #resumeDownload{
  display: none;
  background: url(<?APP_SRC?>/src/image/resume.svg);
}
.card #reDownload{
  background: url(<?APP_SRC?>/src/image/reload.svg);
}
